<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>
<body>
    <div class="login">
        <h1>Teen Mental Health Prediction</h1>
         <!-- Main Input For Recieving Query to our ML-->
        <form action="{{ url_for('predict') }}" method="POST">
        
          <input type="text" name="gender" placeholder="gender" required="required" /><br>
          <input type="text" name="age" placeholder="age" required="required" /><br>
          <input type="text" name="daily_social_media_hours" placeholder="daily_social_media_hours" required="required" /><br>
          <input type="text" name="platform_usage" placeholder ="instagram/tiktok/both" required="required" /><br>
          <input type="text" name="sleep_hours"  placeholder ="sleep_hours"  required="required" /><br>
          <input type="text" name="screen_time_before_sleep" placeholder ="screen_time_before_sleep" required="required" /><br>
          <input type="text" name="academic_performance"placeholder = "academic_performance" required="required" /><br>
          <input type="text"name="physical_activity" placeholder ="physical_activity" required="required" /><br>
          <input type="text"name="social_interaction_level"  placeholder ="low/medium/high" required="required" /><br>
          <input type="text"name="stress_level" placeholder ="stress_level" required="required" /><br>
          <input type="text"name="anxiety_level"  placeholder ="anxiety_level" required="required" /><br>
          <input type="text"name="addiction_level" placeholder ="addiction_level" required="required" /><br>
          <button type ="submit" class="btn btn-primary btn-block btn-large"> Predict </button>
        </form>
        <br>
        <br>
    </div>
    {{prediction_text}}

</body>
</html>